node_modules
.env
*.log

# Docs
dist
docs/.vitepress/cache

# Mac OS
.DS_Store

# Bundle
lib/

# Typescript build file
*.tsbuildinfo

# Typescript test file
*.test.js
*.test.d.ts
*.test.js.map
coverage

# eslint
.eslintcache

# release
RELEASELOG.md
