node_modules
.env
*.log

# Docs
docs/.vitepress/cache
docs/pages/guide/intro.md

# Mac OS
.DS_Store

# Bundle
dist/
.swc

# Typescript build file
*.tsbuildinfo

# Typescript test file
*.test.js
*.test.d.ts
*.test.js.map
.coverage

# eslint
.eslintcache

# release
RELEASELOG.md
